/* body{
    font-family: poppins;
} */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif;
  /* font-weight: 100;
  font-style: normal; */
}

.section-2{
    width : 100%;
    position: relative;
    z-index: 3;
}
.scroller{
    /* background-color: red; */
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
    position: relative;
    z-index: 101;  
}
.scroller::-webkit-scrollbar{
    display: none;
}
.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroller-in h4{
    display: inline-block;
    font-size: 5rem;
    white-space:nowrap;
    margin-inline: 5px;
    -webkit-text-stroke: 2px #123558;
    color: transparent;
    transition: all linear 0.3s;
    margin-inline: 20px;
}


@media screen and (max-width: 950px) {
    .scroller-in h4{
        font-size: 4rem;
      }
}


@media screen and (max-width: 450px){
    .scroller-in h4{
        font-size: 2rem;
      }
}


@keyframes scroll{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}